.Rproj.user
.Rhistory
.RData
data/cleaned-data
data/preprocessed-data
.DS_Store
flow.Rcheck
report/flow-while-running-pilot-study-neu-tikzDictionary
report/flow-while-running-pilot-study-neu.pdf
report/tikz/5-2-daten.tex
report/tikz/5-8-regression.tex
report/tikz/5-9-prozessorientierter-ansatz.tex
