.Rproj.user
.Rhistory
.RData
data/cleaned-data
data/preprocessed-data
.DS_Store
flow.Rcheck
report/flow-while-running-pilot-study-neu-tikzDictionary
report/flow-while-running-pilot-study-neu.pdf
report/tikz/5-2-daten.tex
report/tikz/5-8-regression.tex
report/tikz/5-9-prozessorientierter-ansatz.tex
report/tikz/5-10-regression-extra.tex
report/flow-while-running-pilot-study.pdf
report/flow-while-running-pilot-study-tikzDictionary
report/flow-while-running-pilot-study_files/figure-latex/multilevel-model-for-absorption-on-mean-hr-2.pdf
report/flow-while-running-pilot-study_files/figure-latex/multilevel-model-for-absorption-on-mean-hr-1.pdf
report/flow-while-running-pilot-study.tex
report/flow-while-walking-pilot-study-tikzDictionary
report/flow-while-walking-pilot-study.pdf
report/flow-while-walking-pilot-study.tex
