.Rproj.user
.Rhistory
.RData
.DS_Store
flow.Rcheck
report/tikz/
*.tex
*.pdf
report/case-study-flow-while-walking-tikzDictionary
report/case-study-flow-while-running-tikzDictionary
report/study-flow-while-running-tikzDictionary
